section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overscroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  color: black;
}
.section-one {
  background-color: var(--background);
  position: relative;
  background-image: url("../../static/aboutUs-background.svg");
  background-repeat: no-repeat;
  .back-button__mobile {
    display: none;
  }
  .backNavigation {
    position: absolute;
    left: 0;
    top: 150px;
    width: 60px;
    height: 20px;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: var(--secondary);
    &:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.212);
    }
  }

  img {
    max-width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.section-two {
  background-color: var(--background);
  background-image: url("../../static/aboutUs-background.svg");
  background-repeat: no-repeat;
}

.section-tree {
  background-color: var(--background);
  background-image: url("../../static/aboutUs-background3.svg");
  background-repeat: no-repeat;
}

.section-four {
  background-color: var(--background);
  background-image: url("../../static/aboutUs-background.svg");
  button {
    width: 100%;
    max-width: 250px;
    background-color: var(--secondary);
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: var(--secondary-transparent);
    }
  }
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  a {
    color: var(--secondary);
  }
  ul {
    margin-top: 10px;
    li {
      margin: 5px 0;
    }
  }

  h1 {
    font-size: 40px;
    margin: 15px;
    margin-left: 0;
   
  }
  p {
    letter-spacing: 1px;
    line-height: 25px;
    max-width: 800px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  h2 {
    margin-bottom: 15px;
    
  }
  a {
    width: 100%;
    max-width: 250px;
    background-color: var(--secondary);
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      background-color: var(--secondary-transparent);
    }
  }
  li {
    font-size: 20px;
    list-style-position: inside;
  }
}

@media (max-width: 40em) {
  section {
    padding: 35px;
    justify-content: none;
  }
  .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    li {
      text-align: left;
    }
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 13px;
    }
    h2 {
      font-size: 12px;
    }
  }
  .section-one {
    background-color: var(--background);
    background-image: url("../../static/about-us-mobile-background.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    .backNavigation {
      display: none;
    }

    .back-button__mobile {
      width: 100%;
      max-width: 250px;
      background-color: var(--secondary);
      border: none;
      height: 40px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 40px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: var(--secondary-transparent);
      }
    }
    img {
      max-width: 150px;
      position:relative;
      margin-bottom: 50px;
    }
  }
  .section-two {
    background-image: url("../../static/about-us-mobile-background2.svg");
    background-repeat: no-repeat;
  }
  .section-tree {
    background-image: url("../../static/about-us-mobile-background.svg");
    background-repeat: no-repeat;

    .details {
      p {
        font-size: 14px;
      }
    }
  }
  .section-four {
    background-image: url("../../static/about-us-mobile-background2.svg");
    background-repeat: no-repeat;

    .details {
      p {
        font-size: 14px;
      }
    }
  }
}
